node_modules/
.env
.env.*
!.env.example

# Documents and non-code files (preventing any rules/docs from being pushed)
*.txt
*.doc
*.docx
*.pdf
*.csv

# Production builds
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
tests/
coverage/

# OS files
.DS_Store
Thumbs.db
