# Server
PORT=5000
NODE_ENV=development

# Client
CLIENT_URL=http://localhost:5173

# Vercel Cron Secret (must match the header sent by Vercel)
CRON_SECRET=your_super_secret_string

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.fkpiarc.mongodb.net/remindx?appName=Cluster0

# Cron
CRON_REMINDER_INTERVAL=*/5 * * * *
REMINDER_WINDOW_MINUTES=60
