# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.fkpiarc.mongodb.net/remindx?appName=Cluster0

# Cron
CRON_REMINDER_INTERVAL=*/5 * * * *
REMINDER_WINDOW_MINUTES=60
